# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Environment variables
.env
.env.local
gcp-service-account.json

# Documentation / Markdown
*.md

# OS specific
.DS_Store
Thumbs.db